@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-default: "Poppins", sans-serif;

  --color-primary: #e5efff;
  --color-secondary: #3b82f6;
  --color-tertiary: #094ebd;
  --color-quaternary: #92a6c7;
  --color-quinary: #06b6d4;
  --color-senary: #0f172a;
}

@layer base {
  .jodit-wysiwyg ul {
    list-style-type: disc !important;
    padding-left: 1.5rem !important;
    margin: 0.5rem 0;
  }
  .jodit-wysiwyg ol {
    list-style-type: decimal !important;
    padding-left: 1.5rem !important;
    margin: 0.5rem 0;
  }
  .jodit-wysiwyg blockquote {
    border-left: 4px solid #ccc;
    padding-left: 1rem;
    color: #555;
    font-style: italic;
    margin: 0.5rem 0;
  }
}

